*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  height: 100%;
  width: 33.3333%;
  float: left;
  padding: 20PX;
}

.box1{
  width: 12%;
}
.box2{
  width: 53%;
}
.box3{
  width: 35%;
}

/*======BOX-1==========*/
.logo {
  width: 100px;
}

h3 {
  margin-left: 20px;
  color: gold;
  margin-bottom: 20px;
}

.box1 span {
  font-size: 19px;
}

section ul {
  margin-top: 10px;
  list-style: none;
}

section ul li {
  font-size: 24px;
  line-height: 35px;
  font-weight: 100;
  color: rgba(50, 50, 50, 0.712);
}

/*=======BOX-2=======*/
h1{
  width: 100%;
  float: left;
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.box2 .name {
  font-size: 14px;
  float: left;
  width: 100%;
}
.box2 img {
  margin-top: 5px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.box2 .latest {
  font-weight: bold;
  width: 100%;
  font-size: 23px;
}

.box2 .title {
  margin-top: 30px;
  width: 50%;
  float: left;
  font-size: 40px;
}

.box2 .description {
  width: 50%;
  float: left;
  margin-top: 30px;
}
.box2 .name {
  width: 100%;
  float: left;
  margin-top: 5px;
}
.box2 .date {
  width: 100%;
  float: left;
  margin-top: 5px;
}

/*======BOX-3======*/
.box3 .title {
  margin-top: 20px;
  width: 100%;
  float: left;
  font-size: 40px;
}

.box3 .name {
  width: 100%;
  float: left;
  margin-top: 5px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.box3 img {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*RESPONSIVE*/

@media screen and (max-width: 1490px) {
  .box1{
    width: 20%;
  }
  .box2{
    width: 80%;
  }

  .box3{
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .box1{
    width: 25%;
  }
  .box2{
    width: 75%;
  }
  
  .box3{
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .box1{
    width: 100%;
  }
  .box2{
    width: 100%;
  }
  
  .box3{
    width: 100%;
  }
}